# --- OS ---
.DS_Store
Thumbs.db

# --- IDE/editores ---
.idea/
.vscode/
*.iml

# --- Node/Frontend (en cualquier subcarpeta) ---
**/node_modules/
**/dist/
**/.vite/

# --- Java/Spring ---
**/target/

# --- Docker/volúmenes/artefactos locales ---
**/docker-data/**
infraestructure/dbdata/
**/*.log

# --- Entornos/secrets (NO subir .env reales) ---
**/.env
**/.env.*
!**/.env.example

