.robot-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  gap: 8px;
}

.row.center {
  justify-content: center;
}

ion-button {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
