.robot-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.robot-controls .row {
  display: flex;
  gap: 8px;
}

.robot-controls .row.center {
  justify-content: center;
}
